.view {
    width: 160px;
    height: 165px;
    margin: 10px;
    float: left;
    /* border: 10px solid #fff; */
    overflow: hidden;
    position: relative;
    text-align: center;
    /* -webkit-box-shadow: 1px 1px 2px #e6e6e6; */
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    /* box-shadow: 1px 1px 2px #e6e6e6; */
    cursor: default;
    //background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask,.view .content {
    width: 158px;
    height: 160px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
    text-align: left;
   position: relative;

   padding: 10px;
   background: #c44b0f;
   margin: 0 0 0 0;
    font: 14px 'Roboto-BoldCondensed';
}















.view h2 span{
    font: 14px 'Roboto-Condensed';
}

.view p {
    font: 14px 'Roboto-BoldCondensed';

   position: relative;
   color: #fff;
    padding: 10px 16px 6px;
   text-align: left;
}
.view p span{
    font: 14px 'Roboto-Condensed';
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}























