.wrapper{
    width: 1148px;
    margin: 0 auto;
}
.clear{
    clear: both;
}
header{
    background: url("../img/bg_head.png") no-repeat 250px 0px;
    height: 71px;
}
header .phone{
    margin-top: 10px;
    margin-left: 36px;
}
header .phone li{
    display: inline-block;
    text-align: left;
    list-style: none;
    font-size: 11px;
    height: 10px;
}
header .phone li span{
    text-align: right;
    font-weight: bold;
}
header .old_call{
    background: url("../img/last_call.png")no-repeat;
    height: 51px;
    width: 218px;
    border: none;
    font: 15px 'Roboto-BoldCondensed';
    font-weight: bold;
    text-transform: uppercase;
    color: rgb( 0, 0, 0 );
    text-align: center;

    text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );

}


header .old_call:hover{
    background: url("../img/last_call_h.png")no-repeat;
}
header .colum1{
    padding: 0;
    padding-top: 10px;
}
header .card{
    margin-top: 5px;
}
header .card li{
    list-style: none;
}
header .card li .chek_cart{
    font-weight: bold;
}
header .card li .sum{
    font-weight: bold;
}
header .card li .sum2{
    color: #0a95d1;
    font-weight: bold;
}
header .checkout{
    background: url("../img/of_zakaz.png")no-repeat;
    height: 51px;
    width: 218px;
    border: none;
    font: 15px 'Roboto-BoldCondensed';
    font-weight: bold;
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    text-align: center;

    text-shadow: 0.5px 0.866px 0px rgb( 255, 255, 255 );

}
header .checkout:hover{
    background: url("../img/of_zakaz_h.png")no-repeat;
}
header img{
    z-index: 1;
    position: relative;
}

.navigation2 {
    border-radius: 10px;
    height: 45px;
    z-index: -1;
    margin-bottom: 20px;
}
.navigation2 .main_2{
    margin-left: -282px;
}
.navbar-default{
    background: url("../img/nav.jpg");
    height: 46px;
    border-radius: 12px;
}
.navbar-default .navbar-brand{
    z-index: 2;
    position: relative;
}
.navbar-brand{
    padding: 9px 15px;
}
.navbar-default .navbar-nav>li>a{
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}


.navbar-default .navbar-nav>li>a:hover{
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}
.navigation2 .nav_2{
    margin-left: -92px;
}
.navigation2 .search1{
    border-radius: 10px;
    background: url("../img/serach_ico.png")no-repeat 5px;
    width: 192px;

    height: 26px;
    padding-left: 27px;
}
.navigation2 .form-group{
    background: url("../img/search.jpg");

    border-radius: 10px;
}







.nav>li>a{
    padding: 8px 6px
}


.slider h3{
    font: 32px 'Roboto-Condensed';
    text-transform: uppercase;
    color: #ffffff;
    text-align: left;
}
.slider p{
    font: 36px 'Roboto-BoldCondensed';
    text-transform: uppercase;
    color: #f78601;
    text-align: left;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    margin-left: -61px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
    margin-right: -60px;
}
.carousel-caption{
    left: 6%;
}

.section4{

}
.section4 h2{
    font: 22px 'Roboto-BoldCondensed';
    text-transform: uppercase;
    color: #d24c09;
    margin-bottom: 0;
    text-align: center;
}
.section5{
    background: url("../img/ramku_s5.png")no-repeat center;
    padding-top: 30px;
    margin-top: -28px;
}
.section5 h2{
    font-size: 17px;
    text-align: center;
    margin-top: 0;
}

.product{
    border: 1px solid #080808;
    border-radius: 5px;
    padding: 10px;
}

.product .brand{
    font: 30px 'Roboto-Condensed';
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
    position: relative;
    top: 6px;
    left: 10px;
}
.product .str{

    position: relative;
    top: 6px;

}
.product .detail{
    font: 30px 'Roboto-Condensed';
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
    position: relative;
    top: -14px;
    left: 10px;
}

.product .moto{
    z-index: 2;
    margin-top: -20px;
}

.product .moto .left_navbar{
    border: 1px solid #080808;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -30px;
    padding-left: 0px;
    width: 225px;
    padding-top: 10px;
}
.product .moto .left_navbar ol{

}
.product .moto .left_navbar ol li{
    height: 14px;
    font: 11px 'Roboto-Condensed';
}
.product .moto .left_navbar ol li:nth-child(17){
    margin-top: 12px;
}
.product .moto .left_navbar ol li a{
    color: #000000;
}
.product .moto .left_navbar ol li a:hover{
//background: #fff url('../img/main_hover.png') -8px center no-repeat;
    color: #ac0404;
    font-weight: bold;
}




.product .moto .right_navbar{
    border: 1px solid #080808;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 0px;
    margin-left: 60px;
    width: 225px;
    padding-top: 10px;
}
.product .moto .right_navbar ol{

}
.product .moto .right_navbar ol li{
    height: 14px;
    font: 11px 'Roboto-Condensed';
}
.product .moto .right_navbar ol li:nth-child(17){
    margin-top: 12px;
}
.product .moto .right_navbar ol li a{
    color: #000000;
}
.product .moto .right_navbar ol li a:hover{
//background: #fff url('../img/main_hover.png') -8px center no-repeat;
    color: #ac0404;
    font-weight: bold;
}





.product .sport{
    background: url("../img/sport.png")no-repeat;
    width: 237px;
    height: 76px;
    border: none;
    font: 16px 'Roboto-BoldCondensed';
    text-transform: uppercase;
    color: #000000;
    padding-left: 142px;
    padding-top: 14px;
}
.product .sport:active{
    background: url("../img/sport_a.png")no-repeat;
}
.product .sport:hover{
    background: url("../img/sport_h.png")no-repeat;
}


.product .cross{
    background: url("../img/kross.png")no-repeat;
    width: 265px;
    height: 81px;
    border: none;
    font: 16px 'Roboto-BoldCondensed';
    text-transform: uppercase;
    color: #000000;
    padding-left: 142px;
    padding-top: 14px;
}
.product .cross:active{
    background: url("../img/kross_a.png")no-repeat;
}
.product .cross:hover{
    background: url("../img/kross_h.png")no-repeat;
}


.product .choper{
    background: url("../img/choper.png")no-repeat;
    width: 237px;
    height: 76px;
    border: none;
    font: 16px 'Roboto-BoldCondensed';
    text-transform: uppercase;
    color: #000000;
    padding-left: 142px;
    padding-top: 14px;
}
.product .choper:active{
    background: url("../img/choper_a.png")no-repeat;
}
.product .choper:hover{
    background: url("../img/choper_h.png")no-repeat;
}

.product .turist{
    background: url("../img/exeprt.png")no-repeat;
    width: 267px;
    height: 80px;
    border: none;
    font: 16px 'Roboto-BoldCondensed';
    text-transform: uppercase;
    color: #000000;
    padding-left: 142px;
    padding-top: 14px;
}
.product .turist:active{
    background: url("../img/exeprt_a.png")no-repeat;
}
.product .turist:hover{
    background: url("../img/exeprt_h.png")no-repeat;
}
a {
    outline: none!important;
}


.search_zapchast{
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #c2c2c2;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 53px;
    padding-left: 100px;
    background: #dadada; /* Old browsers */
    background: -moz-linear-gradient(top,  #dadada 0%, #cacaca 47%, #c0c0c0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #dadada 0%,#cacaca 47%,#c0c0c0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #dadada 0%,#cacaca 47%,#c0c0c0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#c0c0c0',GradientType=0 ); /* IE6-9 */

}
.search_zapchast .search_inp{
    background: url("../img/serach_ico.png")no-repeat 6px 7px;
    border: none;
    color: #ffffff;
    padding-left: 40px;
    width: 100%;

}
.search_zapchast .form-group {
    border-radius: 20px;
    background: url("../img/search_input.jpg");
    width: 740px;
    height: 30px;
}



.search_zapchast .btn_search{
    background: url("../img/search_btn.png")no-repeat;
    height: 37px;
    width: 148px;
    font: 15px 'Roboto-BoldCondensed';
    text-transform: uppercase;
    color: #000000;
}
::-webkit-input-placeholder {color:#eeeeee; }
::-moz-placeholder          {color:#eeeeee; }/* Firefox 19+ */
:-moz-placeholder           {color:#eeeeee; }/* Firefox 18- */
:-ms-input-placeholder      {color:#eeeeee; }


.top{
    font: 27px 'Roboto-Condensed';
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background: url("../img/top_prodag.png")no-repeat center;
    height: 53px;
    padding-top: 7px;
}

.top_tovar{

}
.top_tovar .port_item_cont{
position: absolute;
    top:0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url("../img/top_hover.png")no-repeat;
    text-align: center;
    padding-top: 10%;
    opacity: 0;
    transition: all .10s;
}
.top_tovar .port_item_cont h3{
    color: #fcaa06;
    text-transform: uppercase;
    font-size: 14px;
}
.top_tovar .port_item_cont .xarakter{
 text-align: left;
    font: 12px 'Roboto-Regular';
    color: #ffffff;
}
.top_tovar .port_item_cont .xarakter li{
    list-style: none;
}
.top_tovar .port_item_cont .xarakter span{
    font: 12px 'Roboto-Bold';
}
.top_tovar .port_item_cont:hover{
    opacity: 1;
}



.moto_nalichie{
    font: 27px 'Roboto-Condensed';
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background: url("../img/moto_nalichie.png")no-repeat center;
    height: 53px;
    padding-top: 7px;
}


.content-filter{

}

.content-filter .sidbar-left{
width: 270px;
    float: left;
    text-align: center;
}
.content-filter .sidbar-left h2{
    text-align: center;
    font-size: 18px;
    color: #fe4201;
}
.content-filter .sidbar-left form label{
    float: left;
    font: 16px 'Roboto-Condensed';
    text-align: left;
}
.content-filter .sidbar-left form select{
    float: left;
    height: 35px;
    margin-bottom: 10px;
}
.content-filter .sidbar-left form .form-control_1{
    width: 80%;
    margin-top: -5px;
    margin-left: 5px;
}
.content-filter .sidbar-left form .form-control_2{
    width: 57%;
    margin-top: -5px;
    margin-left: 5px;
}
.content-filter .sidbar-left form .form-control_3{
    width: 76%;
    margin-top: -5px;
    margin-left: 5px;
}
.content-filter .sidbar-left form .form-control_4{
    width: 20%;
    margin-top: -5px;
    margin-right: 5px;
    margin-left: 15px;
}
.content-filter .sidbar-left form .form-control_5{
    width: 82%;
    margin-top: -5px;
    margin-left: 15px;
}
.content-filter .sidbar-left form .form-control_6{
    width: 49%;
    margin-top: -5px;
    margin-left: 15px;
}
.content-filter .sidbar-left form .form-control_7{
    width: 26%;
    margin-top: -5px;
    margin-left: 26px;
}
.content-filter .sidbar-left form .checkbox-inline{
    padding-left: 15px;
}
.content-filter .sidbar-left .search_all{
    color: #0171fc;
    text-decoration: underline;
    text-align: center;
    /* margin-top: 10px; */
    display: block;
    padding-top: 10px;
    margin-bottom: 10px;
}
.content-filter .sidbar-left .search_filtr{
 font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background: url("../img/search_filt_btn.png")no-repeat;
    height: 31px;
    width: 125px;
    border: none;
    text-align: center;
    margin-bottom: 20px;
}
.content-filter .sidbar-left .vip_namber{
   margin-top: 20px;
    background: url("../img/vip_namber.png")no-repeat;
    width: 269px;
    height: 142px;

}
.content-filter .sidbar-left .vip_namber h2{
    text-align: left;
    color: #ffffff;
    padding-top: 11px;
    padding-left: 14px;
}
.content-filter .sidbar-left .vip_namber form{
    margin-top: 27px;
    padding-left: 12px;
}
.content-filter .sidbar-left .vip_namber form .form-control_vip{
    width: 66%;
    height: 35px;
    margin-top: -5px;
}
.content-filter .sidbar-left .vip_namber form .vip{
  font-weight: bold;
    color: #000000;
    border: none;
    text-transform: uppercase;
    background: url("../img/vip_btn.png")no-repeat;
    width: 125px;
    height: 32px;
}


.content-filter .table-rezult{
    width: 870px;
    float: left;
    margin-top: 20px;
    padding-left: 20px;
}

.content-filter .table-rezult .vievs_to{
    float: left;
    width: 399px;

}
.content-filter .table-rezult .vievs_to label{
float: left;
    font: 20px 'Roboto-Condensed';
}
.content-filter .table-rezult .vievs_to .form-control_8{
    width: 53px;
    float: left;
    margin-left: 7px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
.content-filter .table-rezult .vievs_to .form-control_8 option{
    text-align: center;
    border: 1px solid #000000;
    background: #f5f3f4;
    border-radius: 5px;
}
.content-filter .table-rezult .pages{
    float: left;
    width: 430px;
    padding-left: 128px;

}
.content-filter .table-rezult .pages label{
    float: left;
    font: 20px 'Roboto-Condensed';
}
.content-filter .table-rezult .pages .pagination{
    float: left;
    margin: 0;
    margin-left: 10px;
    margin-top: -5px;
}
.content-filter .table-rezult .pages .pagination li a{
    border: none;
    font: 20px 'Roboto-Condensed';
    color: #010101;
}
.content-filter .table-rezult .pages .pagination li a:hover{
    background: none;
    color: #ff0000;
    text-decoration: underline;
}

.content-filter .table-rezult .pages .pagination li a.active{
    background: none;
    color: #ff0000;
    text-decoration: underline;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    background: none;
    color: #ff0000;
    text-decoration: underline;
}

.content-filter .table-rezult table{
    top: 0px;
    position: relative;
}
.content-filter .table-rezult table thead .bg-primary{
    background: none;
}
.content-filter .table-rezult table thead tr .proizvoditel{
  background: url("../img/id.png")no-repeat;
    width: 144px;

    color: #ffffff;
    font: 20px 'Roboto-Condensed';
}
.content-filter .table-rezult table thead tr .model{
    background: url("../img/model_p3.png")no-repeat;
    width: 90px;

    color: #ffffff;
    font: 20px 'Roboto-Condensed';
}
.content-filter .table-rezult table thead tr .ear{
    background: url("../img/ear.png")no-repeat;
   width: 81px;

    color: #ffffff;
    font: 20px 'Roboto-Condensed';
}
.content-filter .table-rezult table thead tr .dvigatel{
    background: url("../img/ear.png")repeat;
    width: 81px;

    color: #ffffff;
    font: 20px 'Roboto-Condensed';
}
.content-filter .table-rezult table thead tr .probeg{
    background: url("../img/ear.png")no-repeat;
    width: 81px;

    color: #ffffff;
    font: 20px 'Roboto-Condensed';
}
.content-filter .table-rezult table thead tr .cena{
    background: url("../img/cena_p3.png")no-repeat;
    width: 107px;

    color: #ffffff;
    font: 20px 'Roboto-Condensed';
}
.content-filter .table-rezult table thead tr .nalichie{
    font: 20px 'Roboto-Condensed';
    background: url("../img/nalichie_p3.png")no-repeat;
    width: 245px;

    color: #000000;
    padding-right: 76px;
}
.content-filter .table-rezult table thead tr .nalichie .magazin{
    font: 15px 'Roboto-Condensed';
    margin-top: -12px;
}
.content-filter .table-rezult table thead tr .nalichie .nalich{
    top: -5px;
    position: relative;
}
.table>thead>tr>th{
    padding-right: 5px;
    text-align: center;
    vertical-align: sub;
}
.content-filter .table-rezult table tbody{
    overflow: scroll;
    height: 150px;
    text-align: center;
}
.content-filter .table-rezult table tbody tr .name_proizvod{
    width: 144px;
}
.content-filter .table-rezult table tbody tr .model_proizvod{
    width: 90px;
    font-size: 16px;
}
.content-filter .table-rezult table tbody tr .ear_proizvod{
    width: 81px;
    font-size: 16px;
}
.content-filter .table-rezult table tbody tr .dvigok_proizvod{
    width: 81px;
    font-size: 16px;
}
.content-filter .table-rezult table tbody tr .probeg_proizvod{
    width: 81px;
    font-size: 16px;
}
.content-filter .table-rezult table tbody tr .cena_proizvod{
    width: 107px;
    font-size: 15px;
}
.content-filter .table-rezult table tbody tr .nal_proizvod{
    width: 245px;
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
}
.content-filter .table-rezult table tbody tr .nal_proizvod img{
    margin-right: 10px;
}
.table>tbody>tr>td{
    vertical-align: middle;
}
.content-filter .table-rezult table tbody .line2{
    border-radius: 10px;
    background-color: rgb( 208, 208, 208 );
    height: 127px;
}




.content-filter .table-rezult .vievs_to2{
    float: left;
    width: 399px;
    margin-top: 35px;
}
.content-filter .table-rezult .vievs_to2 label{
    float: left;
    font: 20px 'Roboto-Condensed';
}
.content-filter .table-rezult .vievs_to2 .form-control_8{
    width: 53px;
    float: left;
    margin-left: 7px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
.content-filter .table-rezult .vievs_to2 .form-control_8 option{
    text-align: center;
    border: 1px solid #000000;
    background: #f5f3f4;
    border-radius: 5px;
}
.content-filter .table-rezult .pages2{
    float: left;
    width: 430px;
    padding-left: 128px;
    margin-top: 35px;
}
.content-filter .table-rezult .pages2 label{
    float: left;
    font: 20px 'Roboto-Condensed';
}
.content-filter .table-rezult .pages2 .pagination{
    float: left;
    margin: 0;
    margin-left: 10px;
    margin-top: -5px;
}
.content-filter .table-rezult .pages2 .pagination li a{
    border: none;
    font: 20px 'Roboto-Condensed';
    color: #010101;
}
.content-filter .table-rezult .pages2 .pagination li a:hover{
    background: none;
    color: #ff0000;
    text-decoration: underline;
}

.content-filter .table-rezult .pages2 .pagination li a.active{
    background: none;
    color: #ff0000;
    text-decoration: underline;
}









.layer {
    overflow-y: scroll;
    width: 100%;
    height: 743px;
    margin-top: 58px;
    /* border: solid 1px black; */
}
.layer::-webkit-scrollbar-button {
    background-image:url('');
    background-repat:no-repeat;
    width:6px;
    height:0px
}

.layer::-webkit-scrollbar-track {
    background-color:#32312e;
    box-shadow:0px 0px 3px #000 inset;
}

.layer::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-image:url('../img/bigunok.png');
    background-position:center;
    background-repeat:no-repeat;
}

.layer::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:7px;
    height:0px
}

.layer::-webkit-scrollbar{
    width: 11px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
     background-color: #ffffff;
}










.no_model{
    background: url("../img/no_model.jpg")no-repeat center;
    height: 230px;
    text-align: center;
    margin-top: 30px;
}

.no_model h2{
    font: 49px 'Roboto-Condensed';
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 16px;
}
.no_model ul{

}
.no_model ul li{
float: left;
    width: 538px;
    vertical-align: middle;
  list-style: none;
    color: #ffffff;
    text-transform: uppercase;
    font: 21px 'Roboto-Condensed';
}

.no_model ul li .go_auction{
    font: 16px 'Roboto-Condensed';
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background: url("../img/go_auction.png")no-repeat;
    width: 224px;
    height: 55px;
    border: none;

    margin: 0 auto;
    margin-top: 20px;

}

.no_model ul li .teyk_konsultation{
    font: 16px 'Roboto-Condensed';
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background: url("../img/btn_teyk_konsultation.png")no-repeat;
    width: 224px;
    height: 55px;
    border: none;

    margin: 0 auto;
    margin-top: 20px;

}
.no_model ul li:nth-child(1){
    padding-top: 23px;
}



.oplata_dostavka{
    background: url("../img/oplata_dostavka.jpg")no-repeat center;
    height: 573px;
    text-align: center;
}
.oplata_dostavka h2{
    font: 38px 'Roboto-Condensed';
    color: #3692ed;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 52px;

}


.sposob_oplatu{
    background: url("../img/sposob_oplatu.jpg")no-repeat center;
    height: 298px;
    text-align: center;
}
.sposob_oplatu h2{
    font: 38px 'Roboto-Condensed';
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 20px;

}
.sposob_oplatu ul{
    margin: 0 auto;
}
.sposob_oplatu ul li{
  width: 347px;
    float: left;
    margin-bottom: 20px;
    list-style: none;
}
.sposob_oplatu ul li:nth-child(4){
    margin-left: 182px;
}







.bl_6{
    padding-top: 40px;
    text-align: center;
}

.bl_6 .quveshion{
    font: 30px 'Roboto-BoldCondensed';
    text-transform: uppercase;
    color: #3692ed;
}

.bl_6 .quveshion span{
    font: 30px 'Roboto-Condensed';
}


.bl_6 .call_my{
    text-align: left;
}
.bl_6 .mail_my{
    text-align: left;
}
.bl_6 .adress_my{
    text-align: left;
}
.bl_6 h2{
    font: 30px 'Roboto-BoldCondensed';
    color: #424141;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;
}
.bl_6 img{
    float: left;
    margin-right: 26px;
    margin-bottom: 10px;
}
.bl_6 .call{

}
.bl_6 .call li{
    display: inline-block;
    font: 14px 'Roboto-BoldCondensed';
    color: #424141;
}
.bl_6 .call li span{
    font: 14px 'Roboto-Condensed';
}


.map{
    border: 1px solid #000000;
    min-height: 384px;
}
.map .map_conteiner{
    padding:0;
}


.foter_navigation{
    z-index: 5;
    margin-top: -8px;
}
.foter_navigation .cont{
    padding-left: 0;
    padding-right: 0;
}
.foter_navigation .navbar_footer{
    background: url("../img/navbar_footer.png");
    height: 53px;
    border-radius: 20px;
}

.foter_navigation .navbar_footer ul li a{
    font: 12px 'Roboto-BoldCondensed';
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 12px;
}
.foter_navigation .navbar_footer ul li a:hover{
    background: none;
    color: #ff8a00;
}
.foter_navigation .navbar_footer ul li{
    width: 128px;
    text-align: center;
}
.foter_navigation .navbar_footer ul li:hover{
    background: none;
}
.foter_navigation .navbar_footer ul li:nth-child(7){
    width: 1px;
    margin-top: -4px;
}
.foter_navigation .navbar_footer ul li:nth-child(8){
    margin-top: -4px;
}


footer{

}
footer .logo_foot{
    z-index: 2;
    margin-top: -88px;
}

footer .footer_logo2{
    text-align: center;
    padding-top: 3px;
}
footer .copiring{

}



/*modal*/
.modal{
    right: 473px;
    width: 100%;
    left: -128px;
}
.modal_zakazat{
    background: url("../img/popap_zakaz.png")no-repeat;
    width: 977px;
    height: 344px;
    border-radius: 20px;

}

.modal_zakazat .name{
    border-width: 1px;
    border-color: rgb( 151, 155, 158 );
    border-style: solid;
    background-color: rgb( 255, 255, 255 );
    width: 293px;
    height: 45px;
    border-radius: 0;
}
.modal_zakazat .phone{
    border-width: 1px;
    border-color: rgb( 151, 155, 158 );
    border-style: solid;
    background-color: rgb( 255, 255, 255 );
    width: 293px;
    height: 45px;
    border-radius: 0;
}
.modal_zakazat .mail{
    border-width: 1px;
    border-color: rgb( 151, 155, 158 );
    border-style: solid;
    background-color: rgb( 255, 255, 255 );
    width: 293px;
    height: 45px;
    border-radius: 0;
}

.modal_zakazat .sel_company{
    font: 20px 'Roboto-Condensed';
    color: #000000;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.modal_zakazat .btn_zakazat{
    text-align: center;
}
.modal_zakazat .btn_zakazat button{
    background: url("../img/btn_mod_zakazat.png")no-repeat;
    width: 226px;
    height: 56px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
    font: 18px 'Roboto-BoldCondensed';
    text-transform: uppercase;
}


.modal_zakazat2{
    background: url("../img/popap_zakaz.png")no-repeat;
    width: 977px;
    height: 344px;
    border-radius: 20px;

}
.modal_zakazat2 .deteil{
    width: 407px;
    height: 272px;
    text-align: center;
    padding-top: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 84, 84, 84 );
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 1px 1.732px 8px 0px rgb( 0, 0, 0 );
}
.modal_zakazat2 .name{
    background: url("../img/name.png")no-repeat;
    height: 79px;
    width: 370px;
    float: left;
    text-align: left;
    font: 20px 'Roboto-Condensed';
    color: #ffffff;
    padding-left: 10px;
    padding-top: 10px;
}
.modal_zakazat2 .name span{
    font: 20px 'Roboto-BoldCondensed';
}
.modal_zakazat2 .cena{
    background: url("../img/cena_detail.png")no-repeat;
    height: 79px;
    width: 152px;
    float: left;
    text-align: center;
    font: 19px 'Roboto-BoldCondensed';
    color: #ffffff;
    padding-top: 23px;
}

.modal_zakazat2 .info{
    float: left;
    text-align: left;
    padding-left: 20px;
    font: 18px 'Roboto-Condensed';
}
.modal_zakazat2 .info2{
    float: left;
    text-align: left;
    padding-left: 20px;
    font: 18px 'Roboto-Condensed';
}
.modal_zakazat2 .info2 .kypit{
    background: url("../img/ost_zayavky.png")no-repeat;
    width: 224px;
    height: 55px;
    border: none;
    margin-top: 10px;
    font: 20px 'Roboto-BoldCondensed';
    text-transform: uppercase;
}
.modal_zakazat2 .info2 .k_spisky{
    font: 19px 'Roboto-BoldCondensed';
    color: #000000!important;
    text-decoration: underline;
    background: none;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
}



.modal_page3{

}
.modal_page3 .content_modal_p3{
    background: url("../img/podbor_model.png")no-repeat;
    padding-left: 100px;
}
.modal_page3 .content_modal_p3 .podbor_model_1{
    float: left;
  width: 300px;
}
.modal_page3 .content_modal_p3 .podbor_model_1 label{
    float: left;
    margin-top: 5px;
    margin-bottom: 28px;
}
.modal_page3 .content_modal_p3 .podbor_model_1 .marka{
    float: right;
    border-width: 1px;
    border-color: rgb( 151, 155, 158 );
    border-style: solid;
    background-color: rgb( 255, 255, 255 );
    width: 206px;
    height: 33px;
    margin-left: 5px;
    margin-bottom: 20px;
}




.modal_page3 .podbor_model_2{
    float: left;
    width: 322px;
    margin-left: 15px;
}
.modal_page3 .content_modal_p3 .podbor_model_2 label{

    margin-top: 5px;
    margin-bottom: 28px;
}
.modal_page3 .content_modal_p3 .podbor_model_2 .year1{

    border-width: 1px;
    border-color: rgb( 151, 155, 158 );
    border-style: solid;
    background-color: rgb( 255, 255, 255 );
    width: 76px;
    height: 33px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.modal_page3 .content_modal_p3 .podbor_model_2 .year2{
    float: right;
    border-width: 1px;
    border-color: rgb( 151, 155, 158 );
    border-style: solid;
    background-color: rgb( 255, 255, 255 );
    width: 76px;
    height: 33px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.modal_page3 .content_modal_p3 .podbor_model_2 .marka{
    float: right;
    border-width: 1px;
    border-color: rgb( 151, 155, 158 );
    border-style: solid;
    background-color: rgb( 255, 255, 255 );
    width: 206px;
    height: 33px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.modal_page3 .content_modal_p3 .podbor_model{
    font: 16px 'Roboto-Condensed';
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background: url("../img/btn_podbor_model.png")no-repeat;
    height: 62px;
    width: 324px;
    border: none;
   display: block;
    margin: 0 auto;

}

.modal-content{
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5);
    box-shadow: 0 0px 0px rgba(0,0,0,.5);
}

.modal{
    left: -64px;
    top: 124px;
}

@media screen and (max-width: 1366px){
    header{
        background: url("../img/bg_head.png") no-repeat -27px 0px;
    }
}

























