.form{
    width: 730px;
    height: 518px;
    background: #ffffff;
    border-top-color: #0172f6;
    border-top-style: solid;
    border-top-width: 3px;
    text-align: center;
    padding-top: 74px;
    padding-left: 140px;
}
.form input{
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    border-color: rgb( 102, 102, 102 );
    border-radius: 10px;
    background-color: rgb( 255, 255, 255 );
    width: 437px;
    height: 56px;
    padding-left: 20px;
}
.form button{
width: 272px;
    height: 70px;
    text-transform: uppercase;
    background: #70c14a;
    color: #ffffff;
    border: none;
    font-size: 20px;
    margin-top: 20px;
}

